@import '../../styles/variables.css';

.faq{
  padding: 3em 10%;
  background: rgb(235,234,223);
  background: linear-gradient(180deg, rgba(235,234,223,1) 0%, rgba(251,232,204,1) 50%, rgba(251,218,177,1) 100%);
}

.faq__title{
  font-family: var(--titulos);
  font-size: 40px;
  margin: 1rem 0 3rem 0;
  text-align: center;
}